@{
    ViewData["Title"] = "Trang chủ";
    Layout = "_Layout";
}
<div class="banner">
    <div class="owl-carousel owl-theme"></div>
</div>
<!-- End Banner -->
<br>
<div class="companyMenu group flexContain"></div>
<div class="flexContain">
    <div class="pricesRangeFilter dropdown">
        <button class="dropbtn">Giá tiền</button>
        <div class="dropdown-content"></div>
    </div>
    <div class="promosFilter dropdown">
        <button class="dropbtn">Khuyến mãi</button>
        <div class="dropdown-content"></div>
    </div>
    <div class="sortFilter dropdown">
        <button class="dropbtn">Sắp xếp</button>
        <div class="dropdown-content"></div>
    </div>
</div> <!-- End khung chọn bộ lọc -->
<div class="choosedFilter flexContain">
    <a id="deleteAllFilter" style="display: none;">
        <h3>Xóa bộ lọc</h3>
    </a>
</div> <!-- Những bộ lọc đã chọn -->
<hr>

<section>
  <div class="khungSanPham-box">
    <h2 style="display:none">Danh mục sản phẩm</h2> <!-- optional; hide if not needed -->
    <div class="contain-products" style="display:none">
        <div class="filterName">
            <input type="text" placeholder="Lọc trong trang theo tên..." onkeyup="filterProductsName(this)">
        </div> <!-- End FilterName -->
        <ul id="products" class="homeproduct group flexContain">
            <div id="khongCoSanPham">
                <i class="fa fa-times-circle"></i>
                Không có sản phẩm nào
            </div> <!-- End Khong co san pham -->
        </ul><!-- End products -->
        <div class="pagination"></div>
    </div>

    <!-- Div hiển thị khung sp hot, khuyến mãi, mới ra mắt ... -->
    <div class="contain-khungSanPham"></div>
  </div>
</section>

@section Scripts {
    <script>
        initTrangChu();  // Gọi hàm khởi tạo trang chủ từ trangchu.js
    </script>
}